@using DocMod.Models;
<meta http-equiv="Content-Type" content="charset=UTF-8"  asp-append-version="true">
<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" >
<link rel="stylesheet hl" href="~/lib/highlight/styles/atom-one-dark.min.css" asp-append-version="true" >
<link rel="stylesheet" href="~/lib/jstree/dist/themes/default/style.min.css" asp-append-version="true" />

<title>@Config.SiteName</title>