@{
    //ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<select id="hlstyle" size="1" onchange="SetStyle();">
</select>
<br>
<div id='div1' class="main">
</div>
<script>
    Init();
</script>